[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "*"
isort = "<5.0.0"
pre-commit = "*"
wemake-python-styleguide = "*"

[packages]
django-debug-toolbar = "*"
django-elasticsearch-dsl = "*"
django-elasticsearch-dsl-drf = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
markdown = "*"
pillow = "*"
psycopg2-binary = ">=2.8"

[requires]
python_version = "3.8"
